<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Тест</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="applicantTestCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <ul>
                            <div style="text-align: center">
                                <h3 style="margin: 0px">Правила</h3>
                            </div>
                            <dt>Час:</dt>
                            <dd><ul><li>
                                Тест строго регламентований у часі. Відведений час залежить від обраної вакансії, кількості
                                та складності питань.
                            </li></ul></dd>
                            <dt>Допустимість:</dt>
                            <dd><ul><li>
                                Кожен крок тесту можна пройти тільки один раз і отримати за нього визначену кількість балів.
                                Коригування відповідей не можливе.
                            </li></ul></dd>
                            <dt>Однозначність:</dt>
                            <dd><ul><li>
                                Тест має лише одну правильну відповідь.
                            </li></ul></dd>
                            <dt>Обмеження:</dt>
                            <dd>
                                <ul>
                                    <li>
                                        Усі запитання, на які не було представлено відповідь, зараховуються як виконані невірно.
                                    </li>
                                    <li>
                                        Кандидат може пройти інтерв'ю на одну посаду лише один раз. Про будь-які спроби шахрайства
                                        буде повідомлено роботодавця.
                                    </li>
                                </ul>
                            </dd>
                            <dt>Позитивний результат:</dt>
                            <dd><ul><li>
                                Якщо кандидат набрав більше 70% правильних відповідей, інтерв'ю вважається пройденим успішно.
                            </li></ul></dd>
                            <dt>Ефект:</dt>
                            <dd><ul><li>
                                У випадку позитивного проходження інтерв'ю кандидату буде надано можливість додати своє резюме
                                для наступного етапу.
                            </li></ul></dd>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="!userData.user.id" class="text-center">
                <a ng-href="#/login">Спочатку авторизуйся</a>
            </div>
            <div ng-if="userData.user.id">
                <div ng-show="!isStart && !isFinished" class="text-center start" ng-click="startTest()">
                    Почати тест <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                </div>
                <div ng-show="isStart && !isFinished">
                    <div class="panel-heading">
                        Дані тесту
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" name="questionForm">
                                    <input class="form-control" type="hidden" ng-model="question.user_id" ng-init="question.user_id=userData.user.id">
                                    <div class="form-group">
                                        <label>Вакансія</label>
                                        <select class="form-control" ng-model="currentQuestion.vacancy_id" required disabled>
                                            <option ng-repeat="option in vacancies track by $index" value="{{option.id}}">{{option.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Запитання</label>
                                        <textarea class="form-control" style="width: 100%; resize: vertical " ng-model="currentQuestion.name" disabled></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Варіанти відповідей</label>
                                        <div class="radio" ng-repeat="answer in currentQuestion.answers track by $index">
                                            <div class="form-group input-group">
                                                <input class="form-control" ng-model="answer.name" required disabled>
                                                <span class="input-group-addon" style="padding: 0px 10px 10px 40px;">
                                            <input type="radio" name="answer" ng-click="setAnswer(answer)">
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-click="sendAnswer(currentQuestion, questionIndex)" ng-disabled="questionForm.$invalid">Відправити</button>
                                </form>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="panel-body" ng-show="isFinished">
                    <div class="alert alert-dismissable" ng-class="{'alert-success': result>=70 , 'alert-warning':result<70} ">
                        Вітаємо, ви пройшли тест. Кількість успішних відповідей становить <strong>{{result}} %</strong>
                        <div ng-show="result>=70">
                            Ви можете прикріпити Ваше резюме роботодавцю: <em ng-click="attachCV=!attachCV" style="cursor: pointer">прикріпити</em>
                            <div ng-show="attachCV" >
                                <input type="file" style="display: inline-block">
                                <button type="button" class="btn btn-primary btn-xs" style="display: inline-block" ng-click="attachCV=false">Відправити</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<style>
    .start{
        font-size: 42px;
        color: #4b75a4;
        cursor: pointer;
    }
    .start:hover {
        color: green;
    }
</style>