<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Адмінка</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row"  ng-controller="adminCtrl">
        <stats number="" comments="Налаштування компанії" goto="#" colour="primary" type="wrench"></stats>
        <stats number="12" comments="Вакансії" colour="green" goto="#admin/vacancies" type="list-alt"></stats>
        <stats number="24" comments="Тести" colour="red" goto="#" type="tasks"></stats>
        <stats number="24" comments="Результати" colour="yellow" goto="#" type="bar-chart-o"></stats>
    </div>
</div>